
:root {
  --background-color: #23025f;
  --secondary-color: #4d4459;
  --border-color: #c7b1da;
  --box-color: #237736;
  --box-other-color: #0000ff;
  --text-color: #eeeeee;
  --font-base:  "Story Script", sans-serif;
  --font-title: "Momo Signature", cursive;
  --font-mono:  'Geist Mono', monospace;
} 

@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Story+Script&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--background-color) ;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
}

canvas {
  display: block;
  background: #3a3a3a;
  image-rendering: pixelated;
  cursor: grab;
  touch-action: none;
  /* prevent browser scroll/zoom gestures */
}

canvas:active {
  cursor: grabbing;
}


.box,.box2 {    
  border: 2px solid var(--border-color);
  padding: 5px;  
  border-radius:15px;   
  background-color:var(--box-color)
}
.shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}


.box2 {
  background-color:var(--box-other-color);
}



input {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
  size:10;
  max-width:100%;
  border-radius:5px;
}


#world {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%; 
}


#gamescreen {
  display: none;
  background-color: yellow;
}

#loginscreen{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  display: block;
  z-index:20;
  width: 20%;
  height: 20%;
  float:left;
  min-height:150px;
  display: none;
} 

#lobbyscreen{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  display: block;
  z-index:20;
  width: 20%;
  height: 20%;
  float:left;
  min-height:150px;
  display: none;
} 




#debugscreen{
  position: absolute;
left: 0;
top: 200px;;
  text-align: center;
  position: absolute;

  display: block;
  z-index:20;
  width: 20%;
  height: 20%;

  float:left;
  min-height:150px;
  
} 



#titlescreen{
  position: absolute;  
  left: 50%;
top: 50%;
transform: translate(-50%, -50%);
  
  display: block;  
  width:90%;
  height:90%;
  z-index: 10;
  float:left;
  overflow: hidden;  
    display: none;
} 

#titlefooter{
  position:absolute;
  margin-top:10px;
  font-size:12px;
  color:var(--text-color);
  text-align:bottom;
  vertical-align: bottom;
  bottom:6px;
  width: 98%;
  height:15px;
  overflow: hidden;
  font-family: var(--font-mono);  
  font-weight: 800;
  font-style: normal;
} 

.left {
  float: left;
  width: 33%;
  text-align: left;
}

.middle {
  float: left;
  width: 34%;
  text-align: center;
} 
.right {
  float: right;
  width: 33%;
  text-align: right;  
}

#helpscreen {
  position: absolute;  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  display: block;  
  width:90%;
  height:90%;
  z-index: 10;
  float:left;
  overflow: hidden;  
    display: none;
} 

