:root {
<<<<<<< HEAD
  --c1-base: #ff0000;
  --c1-dark: #880000;
  --c1-light: #ff7777;
  --c1-text: #ffffff;
=======
  --background-color1:#ff0000;
  --text-color1:#ffffff;
  --highlight-color1:#ff7777;
  --dark-color1:#884444;
>>>>>>> 69aec6b (stuff)

  --c2-base: #00ff00;
  --c2-dark: #008800;
  --c2-light: #77ff77;
  --c2-text: #ffffff;

  --c3-base: #0000ff;
  --c3-dark: #000088;
  --c3-light: #7777ff;
  --c3-text: #ffffff;

  --c4-base: #888888;
  --c4-dark: #444444;
  --c4-light: #bbbbbb;
  --c4-text: #ffffff;;




  --font-base: "Story Script", sans-serif;
  --font-title: "Momo Signature", cursive;
<<<<<<< HEAD
  --font-mono: 'Geist Mono', monospace;
=======
  --font-mono:  'Geist Mono', monospace;
>>>>>>> 69aec6b (stuff)
}

@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Story+Script&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--c1-text);
  background-color: var(--c1-base);
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
}


table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
<<<<<<< HEAD
  height: 60%;
  border: 2px solid var(--c4-base);
  background-color: var(--secondary-color);
  font-size: 3vh;
=======
  border: 2px solid var(--border-color);
  background-color: var(--secondary-color);
  font-size:3vh;
>>>>>>> 69aec6b (stuff)
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #515952;
}

tr:hover {
  background-color: #90d995;
}

th {
  background-color: #04AA6D;
  color: white;
}

thead {
  top:0;
  display: block;
  position:sticky;
}

tbody {
  display: block;
  overflow-y:scroll;
  height:200px;
  max-height: 300px;
}

canvas {
  display: block;
  background: #3a3a3a;
  image-rendering: pixelated;
  cursor: grab;
  touch-action: none;
  /* prevent browser scroll/zoom gestures */
}

canvas:active {
  cursor: grabbing;
}


<<<<<<< HEAD
.box,
.box2 {
  border: 2px solid var(--border-color);
  padding: 5px;
  border-radius: 15px;
  background-color: var(--box-color);
=======
.box,.box2 {
  border: 2px solid var(--border-color);
  padding: 5px;
  border-radius:15px;
  background-color:var(--box-color);
>>>>>>> 69aec6b (stuff)
}

.shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}


.box2 {
  background-color: var(--c2-base);
}



input {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
  size: 10;
  max-width: 100%;
  border-radius: 5px;
  background-color: var(--c2-base);
}


#world {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}


#gamescreen {
  display: none;
  background-color: yellow;
}

#loginscreen {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  display: block;
  z-index: 20;
  width: 20%;
  height: 20%;
  float: left;
  min-height: 150px;
  display: none;
}

#lobbyscreen {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  display: block;
<<<<<<< HEAD
  z-index: 20;
  float: left;
  min-height: 150px;
=======
  z-index:20;
  float:left;
  min-height:150px;
>>>>>>> 69aec6b (stuff)
  display: none;
  font-size: 3vh;
  background-color: var(--c2-base);

}

#debugscreen {
  position: absolute;
  left: 0;
  top: 200px;
  text-align: center;
  position: absolute;

  display: block;
  z-index: 2110;
  width: 150px;
  height: 100px;

  float: left;
  min-height: 150px;
  background-color: #c7b1da;
}


<<<<<<< HEAD
#titlescreen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 90%;
  height: 90%;
  z-index: 10;
  float: left;
  overflow: hidden;
  display: none;
  color: var(--c2-dark);
}

#titlefooter {
  position: absolute;
  margin-top: 10px;
  font-size: 12px;
  color: var(--c2-text);
  text-align: bottom;
  vertical-align: bottom;
  bottom: 6px;
  width: 98%;
  height: 15px;
  overflow: hidden;
=======
#titlescreen{
  position: absolute;
  left: 50%;
top: 50%;
transform: translate(-50%, -50%);

  display: block;
  width:90%;
  height:90%;
  z-index: 10;
  float:left;
  overflow: hidden;
    display: none;
               background: url('https://www.transparenttextures.com/patterns/cubes.png'), linear-gradient(to bottom, #2b1055, #7597de);
}

#titlefooter{
  position:absolute;
  margin-top:10px;
  font-size:12px;
  color:var(--text-color);
  text-align:bottom;
  vertical-align: bottom;
  bottom:6px;
  width: 98%;
  height:15px;
  overflow: hidden;
>>>>>>> 69aec6b (stuff)
  font-family: var(--font-mono);
  font-weight: 800;
  font-style: normal;
}

.left {
  float: left;
  width: 33%;
  text-align: left;
}

.middle {
  float: left;
  width: 34%;
  text-align: center;
}
<<<<<<< HEAD

=======
>>>>>>> 69aec6b (stuff)
.right {
  float: right;
  width: 33%;
  text-align: right;
}

#helpscreen {
<<<<<<< HEAD
  font-family: var(--font-mono);
=======
>>>>>>> 69aec6b (stuff)
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
<<<<<<< HEAD
  width: 90%;
  height: 90%;
  z-index: 100;
  float: left;
  overflow: hidden;
  display: none;
}
=======
  width:90%;
  height:90%;
  z-index: 100;
  float:left;
  overflow: hidden;
    display: none;
}

>>>>>>> 69aec6b (stuff)
