
:root {
  --background-color: #fc0101;
  --secondary-color: #4d4459;
  --border-color: #c7b1da;
  --box-color: #237736;
  --box-other-color: #0000ff;
  --text-color: #eeeeee;
} 


html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--background-color) ;
}

canvas {
  display: block;
  background: #3a3a3a;
  image-rendering: pixelated;
  cursor: grab;
  touch-action: none;
  /* prevent browser scroll/zoom gestures */
}

canvas:active {
  cursor: grabbing;
}


.box,.box2 {    
  border: 2px solid var(--border-color);
  padding: 5px;  
  border-radius:15px;   
  background-color:var(--box-color)
}
.shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}


.box2 {
  background-color:var(--box-other-color);
}



input {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
  size:10;
  max-width:100%;
  border-radius:5px;
}



#gamescreen {
  display: none;
}

#loginscreen{
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;

  display: block;
  z-index:20;
  width: 20%;
  height: 20%;

  float:left;
  min-height:150px;
  
} 

#titlescreen{
  position: absolute;  
  left: 50%;
top: 50%;
transform: translate(-50%, -50%);
  
  display: block;  
  width:90%;
  height:90%;
  z-index: 10;
  float:left;
} 

#titlefooter{
  position:absolute;
  margin-top:10px;
  font-size:12px;
  color:var(--text-color);
  text-align:bottom;
  bottom:6px;
  left:8px;
  width: 100%;
} 

#helpscreen {
  position: absolute;
  top: 10%;
  left: 10%;  
  border: 2px solid var(--border-color);
  padding: 0px;
  background-color: var(--secondary-color);
  display: block;
  z-index:20;
} 

#titlescreen {
display:block;
}

#helpscreen {
  display: none;
}