html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #222;
  color:#eeeeee;
}

canvas {
  display: block;
  background: #3a3a3a;
  image-rendering: pixelated;
  cursor: grab;
  touch-action: none;
  /* prevent browser scroll/zoom gestures */
}

canvas:active {
  cursor: grabbing;
}

div{ border: 1px solid gray;}


#gamescreen {
  display: none;
}

#loginscreen{
  position: absolute;
  top: 40%;
  left: 40%;  
  border: 2px solid #555;
  padding: 0px;
  background-color: #333;
  display: block;
  z-index:20;
  width: 20%;
  height: 20%;
} 

#titlescreen{
  position: absolute;  
  top: 10%;
  left: 10%;  
  border: 2px solid #555;
 background-repeat:no-repeat;
  background-position: top center;  
  display: block;  
  width:80%;
  height:80%;
  z-index: 10;
} 

#helpscreen {
  position: absolute;
  top: 10%;
  left: 10%;  
  border: 2px solid #555;
  padding: 0px;
  background-color: #333;
  display: block;
  z-index:20;
} 

#titlescreen {

}

#helpscreen {
  display: none;
}